.app-container {
    width: 100%;
    height: 100%;
    background-color: pink;
}

.app-container-top {
    width: 100%;
    height: 80%;
    display: flex;
    background-color: white;
}

.app-nav {
    width: 150px;
    height: 100%;
    float: left;
    background-color: red;
}

.app-game {
    width: 100%;
    height: 100%;
    float: right;
    overflow: hidden;
    background-color: green;
}

.app-chat {
    width: 100%;
    height: 20%;
    background-color: blue;
}
