<!DOCTYPE html>
<html>
<head>
    <style>
        .layout-body {
        }

        .layout-page {
        }

        .layout-page header {
            padding-bottom: 60px;
            display: flex;
            justify-content: space-between;
            overflow: hidden;
        }

        .my-photo {
            float: left;
            align-self: flex-start;
        }

        .my-photo img {
            border-radius: 50%;
        }

        .nav {
            width: 100%;
            align-self: flex-end;
            text-align: center;
        }

        .nav ul {
            width: 100%;
            min-width: 400px;
            display: table;
            list-style-type: none;
        }

        .nav ul li {
            display: table-cell;
        }

        .nav ul li a {
            line-height: 0;
            text-align: center;
            font-size: 1.6rem;
            color: black;
        }

        .nav ul li a:hover {
            color: grey;
            text-decoration:none;
        }

        .nav hr {
            width: 90%;
            margin-top: 0px;
            margin-bottom: 25px;
            color: grey;
        }

        .ext-links {
            margin-top: 1rem;
            margin-right: 1rem;
        }

        .ext-links ul {
            display: table;
            list-style-type: none;
        }

        .ext-links ul li {
            display: table-cell;
        }

        .ext-links ul li a {
            padding: 8px;
            text-align: center;
            color: black;
        }

        .ext-links ul li a:hover {
            color: grey;
            text-decoration:none;
        }
    </style>

    <environment include="Development">
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/vender.min.css" asp-append-version="true" />
    </environment>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="layout-body">
    <div class="layout-page">
        <header>
            <div class="my-photo">
                <img src="/images/my-photo.jpg" alt="Steven Cantrell"></img>
            </div>
            <div class="nav">
                <ul>
                    <li><a href="Home">Home</a></li>
                    <li><a href="Games">Games</a></li>
                    <li><a href="About">About</a></li>
                </ul>
                <hr />
            </div>
            <div class="ext-links">
                <ul>
                    <li><a class="fa fa-github fa-2x" href="https://github.com/baileys-am"></a></li>
                    <li><a class="fa fa-linkedin fa-2x" href="https://www.linkedin.com/in/steven-cantrell/"></a></li>
                </ul>
            </div>
        </header>
        <div>
            <div>
                @RenderBody()
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/dist/vendor.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/vendor.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>
