<!DOCTYPE html>
<html>
<head>
    <style>
        .layout-link-banner {
            text-align: center;
        }

        .layout-link-list {
            margin: auto;
            padding: 0;
            width: 60%;
            overflow: hidden;
            list-style-type: none;
            border: 3px solid #73AD21;
            background-color: #333333;
        }

        .layout-link {
            margin: auto;
            width: 100px;
            display: inline-block;
        }

        .layout-link a {
            display: block;
            color: white;
            text-align: center;
            padding: 16px;
            text-decoration: none;
        }

        .layout-hr {
            border-top: 1px solid #ccc;
            margin-left: 10%;
            margin-right: 10%;
        }
    </style>
</head>
<body>
    <div class="layout-link-banner">
        <ul class="layout-link-list">
        <li class="layout-link"><a href="Home">Home</a></li>
        <li class="layout-link"><a href="Games">Games</a></li>
        <li class="layout-link"><a href="About">About</a></li>
    </ul>
    </div>
    <hr class="layout-hr" />
    <div>
        @RenderBody()
    </div>
</body>
</html>
