@{
    ViewData["Title"] = "Home Page";
}

<html>
<head>
    <style>
    </style>
</head>
<body>
    <div>
        <h1>Welcome!</h1>
        <p>Site is in progress. Expect more...</p>
        <ul>
            <li><strong>Games</strong>. I'm thinking Connect Four and Blackjack to start with.</li>
            <li><strong>About</strong>. More information about myself.</li>
        </ul>
        <br/>
        <p>Meanwhile, enjoy Cosmo!</p>
        <img src="/images/cosmo.jpg" alt="Cosmo (Siberian Husky)" width="600px" height="600px"></img>
    </div>
</body>
</html>
