@{
    Layout = "~/Views/Shared/_GamesLayout.cshtml";
    ViewData["Title"] = "Games";
}

<html>
<head>
    <style>
        .loading
        {
            padding: 300px 0px;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="gamesApp">
        <div class="loading">
            <i class="fa fa-spinner fa-spin" style="font-size:100px"></i>
            <div>Loading...</div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript" src="~/dist/gamesApp.js" asp-append-version="true"></script>
