@{
    Layout = "~/Views/Shared/_GamesLayout.cshtml";
    ViewData["Title"] = "Games";
}

<html>
<head>
    <style>
    </style>
</head>
<body>
    <div id="gamesApp">
        Loading!
    </div>
</body>
</html>

<script type="text/javascript" src="~/dist/gamesApp.js" asp-append-version="true"></script>