body { 
    color: #000000; 
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.game {
    width: 70%;
    height: 100%;
    float: left;
}

.game-chat {
    width: 30%;
    float: right;s
}